{% extends 'base.html' %}
{% load static %}

{% block title %}編集画面{% endblock %}
{% block activate_article_list %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table}}
        </table>
        <button type="submit" class="btn btn-primary">更新</button>
        </form>
        </div>
    </div>
</div>

{% endblock %}
