{% extends 'base.html' %}

{% block title %}ログイン{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <h1>ログイン</h1>
          <form method="post" action="{% url 'account_login' %}">
              {% csrf_token %}
              {{ form.as_p }}

              <p><a href="{% url 'account_signup' %}">サインアップはこちらから</a></p>
              <button class="btn btn-primary" type="submit">ログインする</button>
          </form>



</div>
</div>
</div>


{% endblock %}
