{% extends 'base.html' %}
{% load static %}
{% block title %}サインアップ{% endblock %}

{% block add %}   
<link href="{% static 'css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <h2>会員登録</h2>
          <form method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}
              {{ form.as_p }}
            

              <button class="btn btn-primary" type="submit">登録する</button>
          </form>



</div>
</div>
</div>


{% endblock %}
