{% extends 'base.html' %}
{% load static %}

{% block title %}トップページ{% endblock %}

{% block add %}
<link href="{% static 'css/cal.css' %}" rel="stylesheet">
<link href="{% static 'css/cal_table.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
    {% if reduce_info %}
    
    <table>
      <thead>
          <tr>
              <td class="non"></td>
              <th scope="col">摂取量</th>
              <th scope="col">目標</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th>エネルギー</th>
          <td data-label="摂取量" class="price">{{ energy }}Kcal</td>
          <td data-label="目標値" class="price">{{ reduce_info.reduce_cal }}Kcal</td>
        </tr>        
          <tr>
              <th>タンパク質</th>
              <td data-label="摂取量" class="price">{{ protein }}g</td>
              <td data-label="目標値" class="price">{{ reduce_info.pro_g }}g</td>
          </tr>
          <tr>
              <th>炭水化物</th>
              <td data-label="摂取量" class="price">{{ carbo }}g</td>
              <td data-label="目標値" class="price">{{  reduce_info.carbo_g }}g</td>
          </tr>
          <tr>
              <th>脂質</th>
              <td data-label="摂取量" class="price">{{ fat }}g</td>
              <td data-label="目標値" class="price">{{ reduce_info.fat_g }}g</td>
          </tr>

      </tbody>
  </table>   


  <div class="box5">
    <p>{{ text | linebreaksbr }}</p>
  </div>
  
    {% else %}
    <table>
      <thead>
          <tr>
              <td class="non"></td>
              <th scope="col">摂取量</th>
              <th scope="col">目標</th>
          </tr>
      </thead>
      <tbody>
        <tr>
          <th>エネルギー</th>
          <td data-label="摂取量" class="price">{{ energy }}Kcal</td>
          <td data-label="目標値" class="price">-----</td>
        </tr>        
          <tr>
              <th>タンパク質</th>
              <td data-label="摂取量" class="price">{{ protein }}g</td>
              <td data-label="目標値" class="price">-----</td>
          </tr>
          <tr>
              <th>炭水化物</th>
              <td data-label="摂取量" class="price">{{ carbo }}g</td>
              <td data-label="目標値" class="price">-----</td>
          </tr>
          <tr>
              <th>脂質</th>
              <td data-label="摂取量" class="price">{{ fat }}g</td>
              <td data-label="目標値" class="price">-----</td>
          </tr>

      </tbody>
  </table>   



    
    <p><a class="btn-flat-logo" href="{% url 'nutrition:nutrition' %}"><i class="fa fa-chevron-right"></i>あなたに合った食事を計算！</a></p>
    <p>目標と摂取量の比較して、アドバイスを受け取ることができます</p>

    {% endif %}

</div>
</div>
</div>
{% endblock %}
