{% extends 'base.html' %}
{% load static %}

{% block title %}トップページ{% endblock %}

{% block add %}
<link href="{% static 'css/table.css' %}" rel="stylesheet">
<link href="{% static 'css/add.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 id="su">毎食、食べたものを追加していき食事管理ができます！</h2>
        <p class="add_f">追加された食材</p>
        {% if display %}
        <form method="GET">
        <input class="red-btn" id="all_delete" name="all_delete" type="submit" value="すべて削除">
        </form>
        {% endif %}
        <table>
         {% for s in display %}
         <tr>
        <td>{{ s.1 }}</td>
        <td>{{ s.2 }}g</td>
        <td>
          
          <form method="GET">
          <input type="hidden" name="delete_id" value="{{ s.0 }}">
          <input class="red-btn" type="submit" value="削除">
          </form>
        </td>
        </tr>
        {% endfor %}
      
    
        </table>
        {% if display %}
        <p class="calc"><a class="btn-sticky" href="{% url 'meal:meal_cal' %}">計算する</a></p>
        {% endif %}

        <form action="{% url 'meal:top' %}" method="GET">
            <input name="query" type="text" placeholder="食材名">
            <button type="submit">検索</button>
        </form>
<table>
    {% for food in foods %}
    <tr>
      <td>{{ food.food }}</td>

      <form action="{% url 'meal:top' %}" method="GET">
        <input type="hidden" name="food_id" value="{{ food.id }}">
      <td><input type="number" name="gram">g</td>
      
      <td>
        <input class="blue-btn" type="submit" value="追加">
        
      </td>
      </form>
    </tr>
    {% endfor %}

</table>

</div>
</div>
</div>
{% endblock %}
